.card{
    width: 17rem;
    height: 20rem;
    border: 7px solid var(--yellow);
    border-radius: 20px;
    padding: 15px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: absolute;
    background: rgba(255, 255, 255, 0.26);
    box-shadow: var(--boxShadow);
}
.card img{
    width: 100px
}

.card>:nth-child(2){
    font-weight: bold;
    font-size: 20px
}
.c-button{
    transition: 0.3s;
    background-color: #fff;
    box-shadow: 0px 19px 60px rgba(0,0,0,0.08);
    border-radius: 7px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
    color: #5290fd;
}

