.intro{
    display: flex;
    height: 77vh;
    margin-top: 6rem
}
.i-left{
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    gap: 2rem;
}

.i-name{
    display: flex;
    flex-direction: column;
}
.i-name>:nth-child(1){
    color: var(--black);
    font-weight: bold;
    font-size: 3rem;
}
.i-name>:nth-child(2){
    color: var(--orange);
    font-weight: bold;
    font-size: 3rem;
}
.i-name>:nth-child(3){
    font-weight: 200;
    font-size: 14px;
    color: var(--gray);
}

.i-button{
    width: 8rem;
    height: 3rem;
}
.i-right{
    display: flex;
    flex: 1;
}

.i-icons{
    display: flex;
    gap: 30px;
    margin-top: 60px
}
.i-icons img{
    width: 50px;
    cursor: pointer;
    transition: all 0.2s;
}

.i-icons img:hover{
    transform: scale(1.2)
}

.i-right{
    flex: 1;
    position: relative;
}
.i-right>*{
    position: absolute;
    z-index: 1;
}

.i-right>:nth-child(1){
    transform: scale(0.64);
    left: -15%;
    top: -9%
}
.i-right>:nth-child(2){
    transform: scale(0.64);
    left: -15%;
    top: -15%
}

.i-right>:nth-child(3){
    transform: scale(1.4);
    left: 20%;
    top: 3%

}
.i-right>:nth-child(4){
    transform: scale(0.6);
    top: -19%;
    left: -24%;
    border-radius: 50%;
    padding: 0;
}
.blur{
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background-color: #edd0ff;
    z-index: -9;
    left: 56%;
    top: -18%;
    filter: blur(72px)
}